.container>div {
    box-sizing:  border-box;
    flex: 0 0 25%;
    padding: 10px;
    border-right: none;
}

.container {
    display: flex;
    align-items: stretch;
    height: 100%;
}
html{
    height: 100%;
}
body {
    min-height: 100%;
    cursor: url('./happy.png'),auto;
    MARGIN: 0;
    PADDING: 0;
}
.first {background:  #DAE8FC;border: 1px solid #94afd5;}

.second {
    BACKGROUND: #D5E8D4;
    border: 1px solid #92bd82;
}

.third {
    BACKGROUND: #FFE6CC;
    border: 1px solid #eec574;
}

.fourth {
    BACKGROUND:  #F8CECC;
    border: 1px solid #b95551;
}