body,html{
	padding: 0;
	margin:0;
	display:flex;
	flex-flow: row wrap;
}
body>*{
	
	flex:1 100%;
}
a{
    color: white;
    text-decoration: none;
    margin : 0 20px;
}
*{
    text-align: center;
}
.header {
    background-color: #0000ff;
}

.nav {
    background-color: #800080;
}

.main {
    background-color: #ffd700;
  	order : 1;
  	flex: 70%;
}

.aside {
    background-color: #808080;
    order: 2;
    flex: 30%;

}

.footer {
    background-color: #00ffff;
    order:3;
}