<h2>Hãy hỏi cộng đồng một câu hỏi đúng/sai hoặc có/không?</h2>
<form action="/ask" method="post">
    <textarea name="question" id="" cols="130" rows="10"></textarea>
    <button type="submit">Gửi</button>
</form>