<h2>Hãy hỏi cộng đồng một câu hỏi đúng/sai hoặc có/không?</h2>
<form action="/ask" method="post">
    <textarea name="question" id="question" class="form-control" id="" cols="130" rows="6" maxlength="200"></textarea>
    <span>Còn <span id="character">200</span>/200 ký tự</span>
    <div class="mt-3"></div>
    <button type="submit" class="btn btn-secondary">Send</button>
    
</form>