<h1 style="text-align : center" id="question">{{question}}</h1>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <button class="btn btn-primary" >
                <a style="color : white;text-decoration:none"  id="btn-wrong" href="/question/yes/{{id}}">
                    Sai/Không/Trái
                </a>
            </button>
        </div>

        <div class="col-md-3">
            <button class="btn btn-danger ml-3">
                <a style="color : white;text-decoration:none" id="btn-right" href="/question/no/{{id}}">
                    Đúng/Có/Phải
                </a>

            </button>
        </div>


    </div>
    <div class="row text-center mt-5" style="justify-content:center;">
        <button class="btn btn-outline-secondary" style="margin-right : 10px" onclick="location.href = '/question/info/{{id}}'">
            Kết quả vote
        </button>
        <button class="btn btn-outline-secondary" id="otherQuestion">
            Xem câu hỏi khác
        </button>
    </div>

</div>
{{!-- location.href = '/' --}}
   {{!-- $("#btn-wrong").click(function () {
            if (question === null) { location.href = '/question/no/' + btnw.dataset.id }
            else {
                location.href = '/question/no/' + question._id
            }
        })
        $("#btn-right").click(function () {
            if (question === null) { location.href = '/question/yes/' + btnr.dataset.id }
            else {
                location.href = '/question/yes/' + question._id
            }
        }) --}}
<script>
    $(document).ready(function () {
        var btnr = document.getElementById('btn-right');
        var btnw = document.getElementById('btn-wrong');
        var question = null;
        $("#otherQuestion").click(function () {
            $.ajax({
                url: '/',
                method: "post",
                data: {
                    name: "ahihihihi"
                },
                success: function (response) {
                    $("#question").html("" + response.question.questionContent);
                    question = response.question;
                    $("#btn-wrong").attr("href", "/question/no/" + response.question._id)
                    $("#btn-right").attr("href", "/question/yes/" + response.question._id)
                }
            })
        })


    });
</script>