

<table class="table table-sm">
    <thead>
        <tr>
             <th scope="col"></th>
            <th scope="col"  class="text-center">{{p1}}</th>
            <th scope="col" class="text-center">{{p2}}</th>
            <th scope="col" class="text-center">{{p3}}</th>
            <th scope="col" class="text-center">{{p4}}</th>
        </tr>
    </thead>
    <tbody class="add">
        <tr class="sum-score">
            <th scope="row" >Sum of Score</th>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-center"></td>
        </tr>
    </tbody>
    <div class=" text-center"><button type="submit" id="addRound" class="btn btn-danger">ADD ROUND</button></div>
</table>