

<table class="table table-sm">
    <thead>
        <tr>
             <th scope="col" colspan="2"></th>
            <th scope="col">{{p1}}</th>
            <th scope="col">{{p2}}</th>
            <th scope="col">{{p3}}</th>
            <th scope="col">{{p4}}</th>
        </tr>
    </thead>
    <tbody class="add">
        <tr class="sum-score">
            <th scope="row" colspan="2">Sum of Score</th>
            <td class="text-center">1</td>
            <td class="text-center">1</td>
            <td class="text-center">1</td>
            <td class="text-center">1</td>
        </tr>
    </tbody>
    <div class=" text-center"><button type="submit" id="addRound" class="btn btn-danger">ADD ROUND</button></div>
</table>